
/* ======== HEADER STYLES ======== */

* {
	box-sizing: border-box;
}

/*navigation*/

.name a, .main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: #000;
}

.main-nav li a {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  display: inline-block;
}

.main-nav {
  list-style-type: none;
  padding-bottom: 10px;
}

/*footer navigation since its required*/

.slain-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: #FFF;
}

.slain-nav li a {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  display: inline-block;
}

.slain-nav {
  list-style-type: none;
  padding-bottom: 10px;
}

/*header*/

profile-image {
  max-width: 100%;
}

main-header {
  
}

h1, h2 {
  font-family: Staatliches, Helvetica;
}

h1 a {
  text-decoration: none;
  color: #000;
}

p {
font-family: Montserrat, sans-serif;
padding-bottom: 10px;
  align-content: center;
  text-align: center;
  
}

 
/* ======== BODY CONTENT STYLES ======== */

.feat-img {
  max-width: 100%;

}

.zero {
z-index: 1;
}

.section-title {
  text-align: center;
}

.container { 
  width: 80%;
  margin: 0 auto; 
  text-align: center;
  align-content: center;
  /*prevents stretching on large screens and (margin) centering container in the browser*/
  max-width: 1150px;
}

.main-header {
padding-top: .5em;
padding-bottom: .5em;
  
}

.banner {
	color: #fff;
	background: #3acec2;
  padding: 3.2em 0;
  margin-bottom: 60px;
  text-align: center;
}

.banner {
	color: #fff;
	background: #3acec2;
  padding: 3.2em 0;
  margin-bottom: 60px;
  text-align: center;
  align-content: center;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.primary col {
  
}

.secondary col {
  
}

.tertiary col {
  
}

.slammer {
	color: #fff;
	background: #3acec2;
  padding: 3.2em 0;
  margin-bottom: 60px;
  text-align: center;
}

.slammer {
	color: #fff;
	background: #3acec2;
  padding: 3.2em 0;
  margin-bottom: 60px;
  text-align: center;
  align-content: center;
}


/* ======= FOOTER STYLES ======== */


.main-footer {
  text-align: center;
  background: #000;
  padding-top: 20px;
  padding-bottom: 10px;
}

.main-footer a {
  color: #fff;
}

/* ask about this one 

.main-nav truce {
display: inline-block;
 }  

*/

/* ======== MEDIA QUERIES ======== */

@media (min-width: 320px) {

.profile-image {
  max-width: 100%;
}

.main-footer h2 {
  color: #fff;
  float: left;
  line-height: 11px;
  font-size: 18px;
}

.double-edged-two {
  display: none;
}

  .version-two {
  display: none;
}

#truce {
  text-align: right;
}

#truceone {
  display: none;
}

.slammer p {
  padding: 20px;
}


@media (min-width: 768px) {

  .version-two {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
} 

.name, .col {
float: left;
}

.primary, .secondary {
  width: 50%;
}
/* this gives frst 2 columns the side by side view at 769px. tertiary remains under them */

.name {
  display: block;
  width: 100%;
}
.main-nav li {
  display: inline-block;
  width: auto;
  margin-left: 15px;
}

.banner p {
  float: left;  
}

.profile-image {
  float: right;
}

.version-two {
  display: none;
}



/*header that allows the text and image to float neatly instead of a big gap between at larger size */
.double-edged-two {
  display: none;
}

#truce {
  display: none;
}

#truceone {
  display: inline-block;
  float: right;
}
}

@media (min-width: 1024px) {

.container {
  width: 80%;
    max-width: 1150px;
}
.primary, .secondary, .tertiary {
  width: 33%;
}

/*
.prim-reaper {
  width: 50%;
}

.sec-treasure {
  width: 50%;
}
*/

/* this gives frst 2 columns the side by side view at 769px. tertiary remains under them */

  .version-two {
  display: none;
}

.main-header .container h1,
.main-header .container a {
  float: left;
  text-align: left;
  height:45px;
  
}

.name {
  width: unset;
}

.main-header .container h1 {
  line-height: 0;
}

.main-header .container .main-nav a {
  line-height: 45px
}

.main-header .container ul {
  text-align: right;
}


.first {
width: 60%; 
}

.second {
width: 40%;
}

#truce {
  display: none;
}

#truceone {
  display: inline-block;
  float: right;
}
}

/* ======= FLOAT CLEARFIX =======*/

/*clearfix-for-containers*/

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

